<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso - Link Enviado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="dark-section text-center">
        <h1 class="header-title">Solicitação Recebida</h1>
    </header>

    <div class="form-container text-center">
        <h3 class="accent-text" style="font-size: 1.5em;">Verifique seu E-mail!</h3>
        <p>
            Um e-mail com instruções para redefinir sua senha foi enviado. Por favor, cheque sua caixa de entrada e, se não encontrar, verifique a pasta de spam.
        </p>
        <p style="margin-top: 20px;">
            <a href="{{ url_for('login') }}" class="main-button button-fixed-width">Voltar para o Login</a>
        </p>
    </div>
</body>
</html>
